{% extends "base.html" %}

{% block content %}
    <article class="col-xs-12">
        <div class="padding event">
            <h3>{{ event.title|title }}</h3>
            {% if event.image != "" %}
                <img src="/media/{{ event.image }}" class="img-responsive" />
                <hr />
            {% endif %}
            <p class="description lead">{{ event.description }}</p>
        </div>
    </article>
{% endblock %}

{% block aside %}
    <div>
        <h3>Szczegóły</h3>
        <p><strong>Kiedy:</strong> {{ event.start_datetime }}</p>
        {% if event.address != Null %}
            {% if event.address.flat_number == None %}
                <p><strong>Gdzie:</strong> {{ event.address.country }}, {{ event.address.city }}<br /> {{ event.address.street }} {{ event.address.home_number }}{{ event.address.home_sign }}</p>
            {% else %}
                <p><strong>Gdzie:</strong> {{ event.address.country }}, {{ event.address.city }}<br /> {{ event.address.street }} {{ event.address.home_number }}{{ event.address.home_sign }}/{{ event.address.flat_number }}{{ event.address.flat_sign }}</p>
            {% endif %}
        {% endif %}
        <p><strong>Czas trwania:</strong> {{ event.deltatime }}</p>
        <p><strong>Pozostało:</strong> {{ event.avalible }}</p>
        {% if event.cost != Null %}
            <p><strong>Cena:</strong> {{ event.cost }}zł</p>
        {% endif %}
        {% if user.is_authenticated %}
            <p>
                <form method="post" action="{% url 'details' id=event.id %}">{% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            {{ form.count.label_tag }}
                            {{ form.count }}
                        </div>
                        <div class="col-xs-12 form-group">
                            <input class="btn btn-primary btn-block" type="submit" value="Pobierz">
                        </div>
                    </div>
                </form>
            </p>
        {% endif %}
        <p><strong>Organizator:</strong> {{ event.created_by.username }}
            {% if user.is_authenticated %}
                <a href="{% url 'like' id=event.created_by.id %}" id="like"><span class="glyphicon {% if like_company %}glyphicon-heart{% else %}glyphicon-heart-empty{% endif %}"></span></a>
            {% endif %}
        </p>
        <hr />
    </div>
{% endblock %}
