{% extends "base.html" %}

{% block content %}
    {% for event in events %}
        <article class="col-md-6 col-lg-4">
            <div class="padding event" style="background-image: url('/media/{{ event.image }}')">
                <h3>{{ event.title|title }}</h3>
                <p class="description">{{ event.description|truncatewords_html:10 }}</p>
                <p><strong>Kiedy:</strong> {{ event.start_datetime }}</p>
                {% if event.address.flat_number == None %}
                    <p><strong>Gdzie:</strong> {{ event.address.country }}, {{ event.address.city }}<br /> {{ event.address.street }} {{ event.address.home_number }}{{ event.address.home_sign }}</p>
                {% else %}
                    <p><strong>Gdzie:</strong> {{ event.address.country }}, {{ event.address.city }}<br /> {{ event.address.street }} {{ event.address.home_number }}{{ event.address.home_sign }}/{{ event.address.flat_number }}{{ event.address.flat_sign }}</p>
                {% endif %}
                <p><a class="btn btn-primary pull-right" href="{% url 'details' id=event.id %}">Zobacz</a></p>
                <div class="clearfix"></div>
            </div>
        </article>
    {% empty %}
        <article class="col-xs-12">
            <div class="padding event">
                <h3>Brak wydarzeń</h3>
            </div>
        </article>
    {% endfor %}
    {% if events.has_other_pages %}
    <div class="col-xs-12">
        <ul class="pager">
            {% if events.has_previous %}
                <li class="previous"><a href="/?page={{ events.previous_page_number }}">previous</a></li>
            {% endif %}

            {% if events.has_next %}
                <li class="next"><a href="/?page={{ events.next_page_number }}">next</a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
{% endblock %}

{% block aside %}
	{% if notifications %}
		<a id="notifications" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" ><span class="glyphicon glyphicon-bell"></span></a>
        <div id="collapseExample" class="collapse">
            {% for notification in notifications %}
                <p>{{notification.event}} <a href="{% url 'details' id=notification.event.id %}">zobacz</a></p>
            {% endfor %}
        </div>
        <hr />
	{% endif %}
{% endblock %}
