{% extends "base.html" %}

{% block content %}
    <article class="col-xs-12">
        <div class="padding event">
            <h2>Bilet został pobrany i jest dostępny w panelu</h2>
            <div class=" form-group">
                <a class="btn btn-primary" href="{%  url 'tickets' %}">List biletów</a>
            </div>
        </div>
    </article>
{% endblock %}