{% extends "base.html" %}

{% block content %}
    <article class="col-xs-12">
        <div class="padding event">
            <h3>Prifil użytkownika</h3>
            <p><strong>Login:</strong> {{ user.username }}</p>
            <p><strong>E-mail:</strong> {{ user.email }}</p>
        </div>
    </article>

    {% if liked_company.count != 0 %}
        <article class="col-xs-12">
            <div class="padding event">
                <h3>Ulubione firmy</h3>
                <div class="row">
                    {% for company in liked_company %}
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <h3><span class="login-thumbnail">{{company.company.username|capfirst|first}}</span> {{ company.company.username|capfirst }}</h3>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </article>
    {% endif %}
{% endblock %}