{% extends "base.html" %}

{% block content %}
    <article class="col-xs-12">
        <div class="padding event">
            <h3>Szczegóły wydarzenia</h3>
            <p><strong>Nazwa wydarzenia:</strong> {{ event.title }}</p>
            {% if event.address.flat_number == None %}
                <p><strong>Gdzie:</strong> {{ event.address.country }}, {{ event.address.city }}, {{ event.address.street }} {{ event.address.home_number }}{{ event.address.home_sign }}</p>
            {% else %}
                <p><strong>Gdzie:</strong> {{ event.address.country }}, {{ event.address.city }}, {{ event.address.street }} {{ event.address.home_number }}{{ event.address.home_sign }}/{{ event.address.flat_number }}{{ event.address.flat_sign }}</p>
            {% endif %}
            <p><strong>Czas rozpoczęcia:</strong> {{ event.start_datetime }}</p>
            <p><strong>Czas zakończenia:</strong> {{ event.end_datetime }}</p>
        </div>
    </article>
    {% for ticket in tickets %}
        <article class="col-xs-12 col-md-6 col-lg-4">
            <div class="padding event">
                <p><strong>Aktywny:</strong> {% if ticket.active %}Tak{% else %}Nie{% endif %}</p>
                <p><strong>Kod QR:</strong></p>
                <p style="text-align: center;"><img class="img-responsive img-thumbnail" src="data:image/png;base64,{{ ticket.encoded_img }}" /></p>
                <p><a class="btn btn-danger btn-block remove" href="{% url 'remove' id=ticket.id %}">Zrezygnuj z biletu</a></p>
            </div>
        </article>
    {% empty %}
    {% endfor %}
{% endblock %}

{% block aside %}
    <div>
        <h3>Akcje</h3>
        <p><a class="btn btn-primary btn-block" href="{% url 'details' id=event.id %}">Zobacz wydarzenie</a></p>
        <hr />
    </div>
{% endblock %}