{% extends "base.html" %}

{% block content %}
    <article class="col-xs-12">
        <div class="padding event">
            <h3>List wydarzeń z aktywnymi biletami</h3>
            <div class="row">
                {% for event in events %}
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <h3><a href="{% url 'ticket' id=event.id %}">{{ event }}</a></h3>
                    </div>
                {% empty %}
                    <div class="col-xs-12">
                        Brak aktywnych biletów
                    </div>
                {% endfor %}
            </div>
        </div>
    </article>
{% endblock %}