body{
    color: #444;
    background: darkslategray;
}

.padding{
    padding: 10px 15px;
    border-radius: 10px;
}

.main{
    margin-top: 30px;
}

article, aside > div{
    margin: 0 0 30px 0;
}

nav ul{
    margin-bottom: 0;
}
nav a.btn{
    padding: 15px;
    font-weight: bold;
}
nav a.btn:hover{
    background: ghostwhite;
}

.description{
    min-height: 70px;
}

.event{
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ddd;
}

.login-thumbnail{
    background: yellowgreen;
    padding: 9px 15px;
    border-radius: 50px;
    font-weight: bold;
}

.glyphicon{
    font-size: 1.5em;
}

.dropdown-menu li > a{
    text-align: left;
}