{% extends "base.html" %}

{% block content %}
    <article class="col-xs-12">
        <div class="padding event">
            <h2>Panel Logowania</h2>
            <form method="post" action="{% url 'login-page' %}">{% csrf_token %}
                <div class="row">
                    <div class="col-xs-12 form-group">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                    <div class="col-xs-12 form-group">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </div>
                    <div class="col-xs-12 form-group">
                        <input class="btn btn-primary" type="submit" value="Zaloguj się">
                    </div>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </article>
{% endblock %}