{% extends "base.html" %}

{% block content %}
    <article class="col-xs-12">
        <div class="padding event">
            <h2>Panel Rejestracji</h2>
            <form method="post" action="{% url 'register-page' %}">{% csrf_token %}
                <div class="row">
                    <div class="col-xs-12 form-group">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                    <div class="col-xs-12 form-group">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                    <div class="col-xs-12 form-group">
                        {{ form.password1.label_tag }}
                        {{ form.password1 }}
                    </div>
                    <div class="col-xs-12 form-group">
                        {{ form.password2.label_tag }}
                        {{ form.password2 }}
                    </div>
                    <div class="col-xs-12 form-group">
                        <input class="btn btn-primary" type="submit" value="Rejestracja">
                    </div>
                </div>
            </form>
        </div>
    </article>
{% endblock %}