{% load static %}

<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <title>{% block title %}TicKetPro{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header style="background: yellowgreen;">
            <div class="container">
                <nav>
                    <ul class="list-inline">
                        <li><a class="btn" href="{% url 'index' %}">Home</a></li>
                        {% if not user.is_authenticated %}
                            <li><a class="btn" href="{% url 'register-page' %}">Register</a></li>
                            <li><a class="btn" href="{% url 'login-page' %}">Login</a></li>
                        {% else %}
                            <li>
                                <div class="dropdown">
                                    <a class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Konto</a>
                                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                                        <li><a class="btn" href="{% url 'profil' %}">Profil</a></li>
                                        <li><a class="btn" href="{% url 'tickets' %}">Bilety</a></li>
                                        <li><a class="btn" href="{% url 'change-password-page' %}">Zmień Hasło</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a class="btn" href="{% url 'logout-page' %}">Logout</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container main">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <section class="col-sm-8 col-md-9">
                            <div class="row">
                                {% block content %}

                                {% endblock %}
                            </div>
                        </section>
                        <aside class="col-sm-4 col-md-3">
                            <div class="padding event">
                                {% block aside %}
                                {% endblock %}
                                {% if user.is_authenticated %}
                                    <div>
                                        <h3><span class="login-thumbnail">{{request.user.username|capfirst|first}}</span> {{ request.user.username|capfirst }}</h3>
                                    </div>
                                    <hr />
{##}
{#                                    <div>#}
{#                                        {% for noti in notifications %}#}
{#                                            <p>{{ noti.description|safe }}</p>#}
{#                                        {% endfor %}#}
{#                                    </div>#}
{#                                    <hr />#}
                                {% endif %}
                                <div>
                                    <h3>Facebook</h3>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>